@{
    ViewData["Title"] = "Page not Found";
}

<div class="main-content">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p>The page you are looking for does not exist anymore.</p>
    </header>
</div>