@{
    ViewData["Title"] = "Internal Error";
}

<div class="main-content">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p>Sorry by the inconvenience, this page is under maintenance. Please try again later.</p>
    </header>
</div>