@model ProPri.WebApp.Mvc.Views.Auth.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<section>
    <form id="account" method="post">
        <h4>@ViewData["Title"]</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
        <div class="form-group">
            <p>
                <a id="forgot-password" asp-action="RecoverPassword">Forgot Password?</a>
            </p>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
