@{
    ViewData["Title"] = "Delete Classification";
}

<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
    </button>
</div>

<form asp-action="Delete">
    <div class="modal-body">

        <input type="hidden" />
        <input type="hidden" />

        <p>Do you really wish to delete the classification Noun?</p>
    </div>

    <div class="modal-footer">
        <div>
            <input class="btn btn-danger" type="submit" value="Delete" />
        </div>
    </div>
</form>