/*table*/
td a {
    display: block;
    color: #292b2c;
}

    td a:hover {
        color: #292b2c;
        text-decoration: none;
    }

.table-btn {
    cursor: pointer;
}

    .table-btn spam {
        color: var(--light);
    }

.table-with-img tbody a.table-data,
.table-with-img tbody .table-img {
    line-height: 100px !important;
}

.table-with-img td {
    padding: 0 0.75rem !important;
}

.table-with-img .table-img {
    width: 100px;
    height: 100px
}

.table-without-img tbody a.table-data {
    line-height: 60px;
}

.table-without-img td {
    padding: 0 0.75rem !important;
}

/*treeview*/
#treeview-parent {
    margin: auto;
    width: 80%;
}

.custom.e-treeview .e-fullrow {
    height: 46px;
}

.treeview-name {
    font-size: 20px;
    margin-top: 5px;
}

.treeview-btn {
    margin-top: 3px;
    pointer-events: auto;
}

    .treeview-btn spam {
        color: var(--light);
    }

.treeview-row {
    width: 45vw;
}