html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

/* content area styles */
#main-content-wrapper {
    height: 100vh;
    z-index: 5;
    background-color: #F9FAFB;
    padding: 20px 20px 60px 20px;
}

.main-content {
    padding: 20px;
    background-color: white;
    border: 1px solid #E9EAEB;
    display: inline-flex;
    flex-direction: column;
    min-width: 97%;
    border-radius: 0.25rem !important;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.content {
    background-color: white;
    border: 1px solid #E9EAEB;
    display: inline-flex;
    flex-direction: column;
    border-radius: 0.25rem !important;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.content-s {
    width: 20%;
}

.content-g {
    padding: 20px;
    width: 78%;
    margin-left: 15px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
