@model Rise.WebApp.Mvc.Views.Entries.ViewModels.EntryFormViewModel

@{
    var image = Model?.Image ?? "https://birkeland.uib.no/wp-content/themes/bcss/images/no.png";
}

<div class="e-avatar e-avatar-large" style="background-image: url('@image');
                                      width: 100px; height: 100px;">
</div>

<div class="form-group">
    <label asp-for="English" class="control-label"></label>
    <input asp-for="English" class="form-control" />
    <span asp-validation-for="English" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Portuguese" class="control-label"></label>
    <input asp-for="Portuguese" class="form-control" />
    <span asp-validation-for="Portuguese" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ClassificationId" class="control-label"></label>
    <select asp-for="ClassificationId" class="form-control" asp-items="@(new SelectList(Model.Classifications, "Id", "Name"))">
        <option></option>
    </select>
    <span asp-validation-for="ClassificationId" class="text-danger"></span>
</div>