@model ProPri.WebApp.Mvc.Views.Palavras.ViewModels.PalavraFormViewModel

@{
    ViewData["Title"] = "Edição";
}

<h1>Editando</h1>

<h4>Palavra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TextoPortugues" class="control-label"></label>
                <input asp-for="TextoPortugues" class="form-control" />
                <span asp-validation-for="TextoPortugues" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextoIngles" class="control-label"></label>
                <input asp-for="TextoIngles" class="form-control" />
                <span asp-validation-for="TextoIngles" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}