@model IEnumerable<ProPri.WebApp.Mvc.Views.Palavras.ViewModels.PalavraIndexViewModel>

@{
    ViewData["Title"] = "Palavras";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Nova</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.TextoPortugues)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var palavra in Model) {*@
        <tr>
            <td>
                <a asp-action="Edit"><img src="https://www.petz.com.br/blog/wp-content/uploads/2019/06/tamanho-de-gato.jpg" alt="" style="width: 70px; height: 70px" /></a>
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => palavra.TextoPortugues)*@
                <a asp-action="Edit" style="line-height: 70px;">Gato</a>
            </td>
            <td class="text-right align-middle">
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@*@palavra.Id*@"><spam class="fa fa-trash"></spam></a>
            </td>
        </tr>
        @*}*@
    </tbody>
</table>