@model Rise.WebApp.Mvc.Views.Users.ViewModels.UserFormViewModel

<partial name="_ImageUploader" />

<div class="card-body">
    <h5 class="card-title">@ViewData["Title"]</h5>

    <div suppress-by-action="create" class="mt-2">
        <age>@Html.ValueFor(model => model.Birthday)</age>
    </div>
</div>

<div suppress-by-action="create" class="card-footer">
    <div class="row">
        <div class="col-4">Last Active:</div>
        <div class="col-8">
            <div class="float-right">@Html.ValueFor(model => model.LastActiveDate)</div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Registration:</div>
        <div class="col-8">
            <div class="float-right">@Html.ValueFor(model => model.RegistrationDate)</div>
        </div>
    </div>
</div>