@model Rise.WebApp.Mvc.Views.Users.ViewModels.UserFormViewModel
@{
    var lastActiveDate = Model.LastActiveDate == DateTime.MinValue ? "Never" : Model.LastActiveDate.ToString();
}

<partial name="_ImageUploader" />

<div class="card-body">
    <h5 class="card-title">@ViewData["Title"]</h5>

    <div suppress-by-action="create" class="mt-2">
        <age>@Html.ValueFor(model => model.Birthday)</age>
    </div>
</div>

<div suppress-by-action="create" class="card-footer">
    <div class="row" title="Last active date">
        <div class="col-1">LA:</div>
        <div class="col">@lastActiveDate</div>
    </div>
    <div class="row" title="Registration date">
        <div class="col-1">R:</div>
        <div class="col">@Html.ValueFor(model => model.RegistrationDate)</div>
    </div>
</div>