@model Rise.WebApp.Mvc.Views.Auth.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Recover Password";
}

<div class="content content-centered">
    <h4>@ViewData["Title"]</h4>
    <hr />

    <form method="post">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
