@using ProPri.WebApp.Mvc.Views.Classifications.ViewModels

@model IEnumerable<ClassificationIndexViewModel>

@{
    ViewData["Title"] = "Classifications";

    const string nodeTemplate = "<div class=\"row linha\">" +
                                "   <div class=\"col-8 ename\">${Name}</div>" +
                                "   <div class=\"col-4 text-right align-middle\">" +
                                "       <a class=\"btn btn-warning ebtn\" href=\"/Classifications/Edit/${Id}\"><spam class=\"fa fa-pencil-alt\"></spam></a>" +
                                "       <a class=\"btn btn-danger ebtn ml-2\" data-modal=\"/Classifications/Delete/${Id}\"><spam class=\"fa fa-trash\"></spam></a>" +
                                "   </div>" +
                                "</div>";
}

<style>

    #treeparent {
        margin: auto;
    }

    #hierarchical {
        width: 50vw;
    }

    .custom.e-treeview .e-fullrow {
        height: 46px;
    }

    .ename {
        font-size: 20px;
        margin-top: 5px;
    }

    .ebtn {
        margin-top: 3px;
        pointer-events: auto;
        z-index: -5;
    }

        .ebtn spam {
            color: var(--light);
        }

    .linha {
        width: 45vw;
    }
</style>

<h3>@ViewData["Title"]</h3>
<a asp-action="Create">Create New</a>

<div id="treeparent">
    <ejs-treeview id="hierarchical" loadOnDemand="false" cssClass="custom" nodeTemplate="@Html.Raw(nodeTemplate)">
        <e-treeview-fields dataSource="Model" child="nameof(ClassificationIndexViewModel.Children)" 
                           hasChildren="HasChild" id="Id" text="Name" parentID="ParentId" expanded="Expanded"></e-treeview-fields>
    </ejs-treeview>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            AjaxModal();
        });
    </script>
}