@model IEnumerable<ProPri.WebApp.Mvc.Views.Classifications.ViewModels.ClassificationIndexViewModel>

@{
    ViewData["Title"] = "Classifications";
}

<h3>@ViewData["Title"]</h3>
<a asp-action="Create">Create New</a>

<ejs-treeview id="hierarchical">
    <e-treeview-fields child="ViewBag.child" dataSource="ViewBag.data" id="code" text="name" selected="selected" expanded="expanded"></e-treeview-fields>
</ejs-treeview>