@model ProPri.WebApp.Mvc.Views.Users.ViewModels.UserFormViewModel

<img class="card-img-top" src="https://cdn.cnn.com/cnnnext/dam/assets/191024091949-02-foster-cat-large-169.jpg" alt="Card image cap">

<div class="card-body">
    <h5 class="card-title">@ViewData["Title"]</h5>

    <div suppress-by-action="create" class="mt-2">
        <age>@Html.ValueFor(model => model.Birthday)</age>
    </div>
</div>

<div suppress-by-action="create" class="card-footer">
    <div class="row">
        <div class="col-4">Last Active:</div>
        <div class="col-8">
            <div class="float-right">@Html.ValueFor(model => model.LastActiveDate)</div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Registration:</div>
        <div class="col-8">
            <div class="float-right">@Html.ValueFor(model => model.RegistrationDate)</div>
        </div>
    </div>
</div>