@model ProPri.WebApp.Mvc.Views.Users.ViewModels.UserFormViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="row">

    <div class="content content-s">
        <partial name="_Details" />
    </div>

    <div class="content content-g">

        <div class="col-md-10">
            <form asp-action="Edit">

                <partial name="_FormFields" />

                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}