@model ProPri.WebApp.Mvc.Views.Users.ViewModels.UserFormViewModel

@{
    ViewData["Title"] = $"{Model.FirstName} {Model.Surname}";
}

<div class="row">

    <div class="content content-s">
            <img class="card-img-top" src="https://cdn.cnn.com/cnnnext/dam/assets/191024091949-02-foster-cat-large-169.jpg" alt="Card image cap">
            @*<div class="e-avatar e-avatar-xlarge " style="background-image: url(''); width: 150px; height: 150px; margin: auto">
            </div>*@

        <div class="card-body">
            <h5 class="card-title">@ViewData["Title"]</h5>
            <div class="custom-control custom-checkbox" style="margin-top: -10px">
                <input type="checkbox" class="custom-control-input" asp-for="Active" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">@Html.DisplayNameFor(model => model.Active)</label>
            </div>
            
            <div class="mt-2">
                <p>Age: 18</p>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-4">Last Active:</div>
                <div class="col-8">
                    <div class="float-right">12:33 08/12/2019</div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">Registration:</div>
                <div class="col-8">
                    <div class="float-right">12:33 08/12/2019</div>
                </div>
            </div>
        </div>
    </div>

    <div class="content content-g">

        <div class="col-md-10">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <partial name="_FormFields" />

                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
