@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="py-3" style="position: absolute; z-index: 100; width: 100%;">
        <div class="alert alert-danger fade show mx-auto" style="width: 70%">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h5 id="msgAlert">Oops! Something went wrong:</h5>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.Sucesso))
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h5 id="msgAlert">@ViewBag.Sucesso</h5>
    </div>
}