<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProPri</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet">
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
</head>
<body>
    <div>
        <partial name="_TopMenu" />
        <partial name="_SideMenu" />

        <div class="main-content" id="maintext" style="background-color: #F9FAFB; padding: 20px;">
            <div class="content" style="background-color: white; border-radius: 10px; height: 100%; border: 1px solid #E9EAEB;">
                @RenderBody()
            </div>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - ProPri
            </div>
        </footer>
        
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>